body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	background: #1B1A1D;
	font-size: 24px;
	
	background-image: url('../img/black_rectangle.png'),url('../img/background 1.png');
	background-repeat: no-repeat;
	background-position-x: center;
    background-position-y: top;
	 height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
    color: #fff;
}
h1{
	font-size: 18px;
	line-height: 20px;
	margin-top: 13px;
    margin-left: 26px;
    letter-spacing: 0.12em;
}
header a{
	display: flex;
}
.logo{
	text-transform: uppercase;
	padding-top: 37px;
	height: 36px;

}
.button{
	background-color: #B5063A;
	border-radius: 25px;
	text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: bold;
    margin-top: 47px;
    height: 30px;
    border: none;
    font-family: 'Nunito', sans-serif; 
    padding: 5px 20px;
    margin-left: 50px; 
    cursor: pointer;  
}
.header{
	display: flex;
	justify-content: space-between;
}

.container {	 
	margin: 0 auto; 
} 
nav { 
	 background-color: #561927;
	margin: 0 5px 40px 90px; 
} 
 article
 { 
 	background-color: #561927;
 	margin: 0 100px 40px 35px; 
 } 
 header{ 
 	padding: 0 100px 0 100px; 
 }
 .imenu{
 	display: none;
 } 
 footer{ 
 	padding-left: 100px;
 	padding-top: 20px; 
 } 
h2{
	font-size: 16px;
    width: 180px;
	padding-left: 20px;
}
.films{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.poster{
	width: 160px;
	padding: 20px;
}
.poster:hover{
	transform: scale(1.05);
}
.poster:hover + h2{
	transform: scale(1.05);
	color: orange;
}
.posterid{
	padding: 20px 5px;
}
h2:hover{
	color: orange;
}
h3{
	padding: 10px;
    font-size: 20px;
    display: block;
    margin: 20px 15px;
    font-weight: normal;
}
.menu{
	display: flex;
}
.menu img{
	    width: 20px;
	    cursor: pointer;
}

 p{ 
 	font-size: 14px; 
 	margin: 8px 0; 
 	padding-top: 7px;
 }
.mailo{
	font-size: 14px;
}
.contacts{
	display: flex;

}
.cont{
	margin: 15px 15px 0 0;
	height: 40px;

}
body {
  display: grid;
  grid-template-areas: 
    "header header"
    "nav article"
    "footer footer ";
  grid-template-rows: 126px 1fr 200px;
  grid-template-columns: 334px 1fr;
  height: 100vh;
  margin: 0;
}
@media screen and (min-width: 1700px){
body{
	grid-template-rows: 254px 1fr 242px;
	grid-template-columns: 520px 1fr;
}
h1{
	font-size: 36px;
}
.logo{
	height: 49px;
	padding-top: 108px;
}
.button{
	margin-top: 103px;
    height: 60px;
    font-size: 36px;
    padding: 5px 38.5px;
    margin-left: 60px;
}
h3{
    font-size: 30px;
    padding: 15px;
    margin: 25px 30px;
}
.poster{
	width: 200px;
	padding-left: 30px;
}
h2{
    font-size: 22px;
    width: 220px;
    padding-left: 30px;
}
 p{ 
 	font-size: 24px; 
 	margin: 10px 0; 
 	padding: 0;
 }
.mailo{
	font-size: 24px;
}
.cont{
	margin: 15px 20px 0 0;
	height: 45px;
}

}
@media screen and (max-width: 888px){
body {
  display: grid;
  grid-template-areas: 
    "header"
    "article"
    "footer ";
  grid-template-rows: 126px 1fr 200px;
  grid-template-columns: 1fr;
}	
article{
	margin: 0;
}
nav{
	display: none;
}
.imenu{
	display: block;
    width: 36px;	
}
.ilogo{
	display: none;
}
.films{
    padding: 0 70px;
}
.poster{
    width: 130px;
    padding: 20px;
}
h2{
	width: 140px;
}
}
@media screen and (max-width: 848px)
{
.poster {
    width: 120px;
}
h2{
	width: 130px;
}
}
@media screen and (max-width: 808px)
{
.poster {
    width: 110px;
}
}
@media screen and (max-width: 772px)
{
.button{
    margin-left: 20px;
}
.poster {
    width: 150px;
}
}
@media screen and (max-width: 739px)
{
.poster {
    width: 140px;
}
}
@media screen and (max-width: 710px)
{
.button{
    font-size: 12px;
}
.poster {
    width: 130px;
}
}
@media screen and (max-width: 710px)
{
	header{
		padding: 0 30px;
	}
	h1{
		margin: 10px 0 0 20px;
	}
	.button{
		margin-top: 40px;
		margin-left: 30px;
	}
	.poster {
	    width: 110px;
	}
	.films {
	    padding: 0;
	}
}
@media screen and (max-width: 640px)
{
	.poster {
	    width: 150px;
	}
}
@media screen and (max-width: 600px)
{
	.poster {
	    width: 140px;
	}
}
@media screen and (max-width: 570px)
{
	.imenu{
		width: 24px;
	}
	h1{
	    font-size: 15px;
    	margin: 9px 0 0 10px;
	}
	.poster {
	    width: 130px;
	}
}
@media screen and (max-width: 540px)
{
	.poster {
	    width: 120px;
	}
}
@media screen and (max-width: 510px)
{
	.button{
		margin-left: 20px;
	}
	.poster {
	    width: 110px;
	}
}
@media screen and (max-width: 490px)
{
	.button{
		margin-left: 10px;
		padding: 5px 10px;
	}
	.poster {
	    width: 100px;
	}
	h2{
		width: 120px;
	}
}
@media screen and (max-width: 450px)
{
	.poster {
	    width: 160px;
	}
	h2{
		width: 180px;
	}
}
@media screen and (max-width: 430px)
{
	body{
	grid-template-rows: 100px 1fr 242px;
}
	.button{
	    margin: 35px 5px;
    padding: 5px 10px;
	}

	.poster {
	    width: 150px;
	}
	h2{
		width: 170px;
	}
	header{
		padding: 0 15px;
	}
	.logo{
		padding-top: 30px;
	}
}

@media screen and (max-width: 410px)
{
	body{
	grid-template-rows: 70px 1fr 242px;
	}
	.button{
	margin: 19px 0 0 0;
    padding: 0 2px;
    background-color: #1b1a1d;
    color: #e91e63;	
    border-radius: 0px;
	}

	.poster {
	    width: 130px;
	}
	h2{
		width: 150px;
	}
	header{
		padding: 0 15px;
	}
	.logo{
		padding: 15px 0 0 0;
	}
}
@media screen and (max-width: 340px)
{
	.button{
	font-size: 10px;
	}

	.poster {
	    width: 110px;
	}
	h2{
		width: 130px;
	}
	.imenu{
		width: 20px;
	}
	h1{
		font-size: 12px;
	}
}
